<ion-view title="" id="page36">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 34px;"></div>
    <form id="verifyCode-form4" class="list">
      <div>
        <div>
          <img src="img/1eqg1fstTY2b9f3SxzI1_edel.png" <img="" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <h4 style="color:#464545;text-align:center;">Verification code </h4>
        <div class="spacer" style="width: 300px; height: 36px;"></div>
      </div>
      <ion-list id="verifyCode-list9">
        <label class="item item-input" id="verifyCode-input5">
          <span class="input-label">Code</span>
          <input type="tel" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <a ui-sref="tabsController.compass()" id="verifyCode-button19" class="button button-stable button-block">Verify code</a>
    </form>
  </ion-content>
</ion-view>